*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


:root{

    --btnColor:linear-gradient(#00e99f,#00e99f);
    --bgColor: white;
    --txtColor:black;
    --grayColor:white;
    --btnBorder:  2px solid black;
    --pColor:black;

    /* --color:rgba(158,59,140,1);
    --color2: rgba(240,45,54,1); */


}


body{
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
   background-color: var(--bgColor);
   color:var(--txtColor);
   background-image:linear-gradient(var(--try));

    }

nav{

    margin:1%;
    display:flex;
    flex-direction:row;
    justify-content:center;
    
}

nav ul{
    display:flex;
    flex-direction:row;
    width: 90%;
    justify-content:space-between;
    flex-wrap: wrap;
}

.middle{
    display:flex;
    flex-direction:row;
    justify-content: space-evenly;
    padding-top: 10px;
    position: relative;
}
sup{
    position:absolute;
    left:90%;
    background-image:var(--btnColor);
    border-radius:10px;
    color:var(--btnColor);
    padding:3px 5px;
    font-size: 10px;
}
nav li{
    list-style-type: none;
    font-weight: bold;
    padding:1.5rem;
    
    font-size:1.2rem;
    
}


div.signUp button{
    
    background-image:var(--btnColor);
    border-radius: 10px;
    text-align: left;
    padding:.7rem 2rem .7rem 2rem;
    border: none;
    font-weight: bold;
}


div.brand li{
    font-size:1.5rem;

}

.middle li:hover{
   
    background-color: rgb(241, 241, 241);
    
}


/* Title */

div.title{
   
    display:flex;
    flex-direction:column;
    margin-top:7rem;
}

div.title h1{
    font-size:3rem;
    text-align: center;
}
div.title p{
    font-size:2rem;
    margin-top: 1rem;
    text-align: center;
    padding:0 25% 0 25%;
    line-height: 1.5;
    color:var(--pColor);
}

/* login */

div.login{
    width:100%;
    display:flex;
    flex-direction:row;
    justify-content:center;
    margin-top:5rem;
    flex-wrap: wrap;
    gap:7%;
}


/* LEFT */
div.left{
    display:flex;
    flex-direction:column;
}


div.left button{
    
    background-color: var(--bgColor);
    background-image:var(--btnColor);;
    border-radius: 10px;
    text-align: left;
    width:30rem;
    padding:1.5rem;
    font-size:1.2rem;
    margin-bottom:10px;
    border: none;
    font-weight: bold;
}
div.left a{
    margin-left: 43%;
}

div.left input:focus{
    outline:none;
}

/* RIGHT */
div.right{
    display:flex;
    flex-direction:column;
}

div.right button, div.left input{
    background-color: var(--grayColor);
    border: 2px solid black;
    border-radius: 10px;
    text-align: left;
    width:30rem;
    padding:1.5rem;
    font-size:1.2rem;
    margin-bottom:10px;
}

div.left input{
    color:var(--txtColor);
    border: var(--btnBorder);
}


div.right button{
    padding-bottom: 1rem;
}

button > img{
    width:25px;
    margin-right: 15px;
}

/* Footer */

footer a{
    color: black;
    font-size:1.2rem;
}

div.forgot{
    text-align:center;
    margin-top:3rem;
    
}

div.last{
    
    display:flex;
    justify-content:space-between;
    margin: 0 5rem;
    margin-top: 5rem;
}
div.last a{
    
    text-decoration: none;
}


/* MEDI QUERIES */

@media screen and (max-width:1110px){
   

    div.login{
        display:flex;
        flex-direction:column;
        align-items:center;
    }
/* 
    div.right{
        flex-direction:row;
    }

    div.right > button a{
        display:none;
    }
    
    div.right > button{
        border: none;
        width:0;
        height:0;
        margin: 0 50px;
        background-color:rgb(51, 48, 48);
        border-radius: 50%; 
    }
    div.right > button:hover{
       
    background-color: rgb(65, 63, 63);
    }

    button img{
        position: relative;
        bottom:16px;
        right: 12px;
    } */
}